@import '~@angular/material/theming';
@import '../../utilities/styles/table';
@import '../../utilities/styles/tool-bar';

// mixin name will be used in main style.scss
@mixin page-exchange-rates($theme) {
  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  page-exchange-rates {
    @include table-style($theme);
    @include tool-bar-style($theme);
  }
}
