<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <mat-toolbar class="mat-elevation-z4 flex" color="accent">
      <form (ngSubmit)="reloadData()" [formGroup]="searchForm" class="row mx-0">
        <div class="col-md-5 pl-md-0 pr-md-1 col-lg-4 pl-lg-0 pr-lg-1 px-1">
          <mat-form-field>
            <input [matAutocomplete]="auto"
                   aria-label="Base Currency"
                   formControlName="baseCurrency"
                   matInput
                   matTooltip="Some Base Currencies may not be available at all dates..."
                   placeholder="Base Currency"
                   name="baseCurrency"
                   type="text"/>
            <mat-autocomplete #auto="matAutocomplete"
                              (optionSelected)="currencySelected()"
                              autoActiveFirstOption>
              <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-autocomplete>
            <button (click)="baseCurrencyControl.setValue('')"
                    aria-label="Clear"
                    mat-button
                    mat-icon-button
                    matSuffix
                    name="clearBaseCurrency"
                    type="button">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-md-5 col-lg-4 px-1">
          <mat-form-field
              matTooltip="Use datepicker. If no Date is selected will load latest data...">
            <mat-label>Date of rates</mat-label>
            <input [matDatepicker]="datePicker"
                   [max]="maxDate"
                   [min]="minDate"
                   [readonly]="true"
                   formControlName="date"
                   matInput>
            <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datePicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="col-md-2 pr-md-0 pl-md-1 col-lg-4 pr-lg-0 pl-lg-1 px-1">
          <button [disabled]="!searchForm.valid"
                  color="primary"
                  mat-raised-button
                  type="submit">
            <mat-icon>search</mat-icon>
            Search
          </button>
        </div>
      </form>
    </mat-toolbar>
  </div>

  <div class="col-lg-6 offset-lg-3">
    <mat-progress-bar *ngIf="this.isLoading | async"
                      mode="indeterminate"></mat-progress-bar>

    <div [hidden]="this.isLoading | async"
         class="table-place-holder mat-elevation-z4">
      <mat-table [dataSource]="dataSource"
                 matSort
                 matSortActive="currency"
                 matSortDirection="asc">
        <ng-container matColumnDef="currency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Currency</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.currency}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rate</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.rate}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <mat-paginator [length]="100"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   [pageSize]="10">
    </mat-paginator>
  </div>
</div>
