@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin tool-bar-style($theme) {
  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $white: #fff;

  .mat-toolbar {
    border-radius: 5px;
    height: auto;
    margin: 10px 0;
    padding: 8px 16px;

    > .row {
      width: inherit;
    }

    .mat-form-field {
      font-size: 12px;
      height: 35px;
      width: inherit;
    }

    .mat-form-field-label {
      font-weight: normal;
    }

    .mat-date-range-input-start-wrapper,
    .mat-date-range-input-end-wrapper {
      width: 100%;
    }

    .mat-date-range-input-end-wrapper {
      text-align: right;
    }

    .mat-date-range-input-inner[disabled],
    .mat-input-element:disabled {
      color: $white;
    }

    .mat-datepicker-toggle-default-icon {
      color: $white;
      height: 16px;
      width: 16px;
    }

    .mat-form-field:hover {
      .mat-datepicker-toggle-default-icon {
        transform: rotate(360deg);
        transition: all .5s ease-in-out;
      }
    }

    .mat-date-range-input-separator {
      color: $white;
    }

    .mat-form-field-suffix {
      .mat-icon-button .mat-icon {
        font-size: 16px;
        height: 16px;
        line-height: 16px;
        width: 16px;
      }
    }

    .mat-raised-button {
      width: inherit;
    }
  }
}
